<!-- This replies on an ancestor element having an "x-data" directive
     whose value is an object with a "count" property. -->
import type { isPropertyAccessChain } from 'typescript';
<div>Astro count = <span x-text="count" /></div>