---
import { Image } from "astro:assets";
import whippet from "../images/whippet.webp";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Detail">
  <h1>Astro View Transitions Demo</h1>
  <Image alt="whippet" class="img" src={whippet} transition:name="my-img" />
  <button id="back">Back</button>
</Layout>

<!-- Specifying that the type is module is important
     so the script runs every time the page is loaded. -->
<script type="module">
  const back = document.getElementById("back");
  if (back) {
    back.addEventListener("click", () => {
      window.history.back();
    });
  }
</script>

<style>
  .img {
    display: block;
    height: 40rem;
    width: auto;
  }
</style>
