---
import { Image } from "astro:assets";
import whippet from "../images/whippet.webp";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Detail">
  <h1>Astro View Transitions Demo</h1>
  <Image alt="whippet" class="img" src={whippet} transition:name="my-img" />
  <button id="back">Back</button>
  <video controls width="400" transition:name="my-video">
    <source src="/bunny-video.mp4" type="video/mp4" />
  </video>
</Layout>

<!-- Specifying that the type is module is important
     so the script runs every time the page is loaded. -->
<script type="module">
  const back = document.getElementById("back");
  if (back) {
    back.addEventListener("click", () => {
      window.history.back();
    });
  }
</script>

<style is:global>
  .img {
    display: block;
    height: 40rem;
    width: auto;
  }
</style>

<style>
  button {
    display: block;
    margin: 1rem 0;
  }
</style>
