---
import { Image } from "astro:assets";
import whippet from "../images/whippet.webp";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Main">
  <h1>Astro View Transitions Demo</h1>
  <Image alt="whippet" class="img" src={whippet} />
  <a href="detail">Detail</a>
</Layout>

<style>
  .img {
    display: block;
    height: 10rem;
    width: auto;
  }
</style>
