---
import { type CollectionEntry, getCollection } from "astro:content";
import { slide } from "astro:transitions";
import Layout from "/src/layouts/Layout.astro";
import Dog from "/src/components/Dog.astro";

/*
Note how the generic type parameter here is a literal string.
This is useful for creating types that are specific to certain values.
This is used in scenarios like type-safe routing,
state management, and handling collection entities.
*/
const dogs: CollectionEntry<"dogs">[] = await getCollection("dogs");
---

<Layout title="Dogs I Know" transition:animate={slide({ duration: "2s" })}>
  <main>
    {dogs.map((dog) => <Dog dog={dog} />)}
  </main>
</Layout>
