---
import Counter from "../components/Counter.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main x-data="{react: 1}">
    <div>
      <Counter
        :count="react"
        label="React"
        setCount={(count: number) => ($data.react = count)}
        client:load
      />
      <span x-text="react"></span>
    </div>
  </main>
</Layout>
