---
import Counter from "../components/Counter.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main x-data="{ count: 1 }">
    <div>
      <button @click="count++">Increment</button>
      <span x-text="count"></span>

      <Counter
        :count="count"
        label="React"
        setCount={(count: number) => ($data.count = count)}
        client:load
      />
    </div>
  </main>
</Layout>
