<div x-data="{score: 3}" x-effect="log(score)">
  <input type="range" min="0" max="10" x-model="score" />
   *
  <span x-text="score"></span>
</div>

<script defer>
  function log(score) {
    console.log(score);
  }
</script>
