---
import Demo from "../components/Demo.astro";
---

<html lang="en">
  <body x-data="{score: 19}">
    <p>score = <span x-text="score"></span></p>
    <Demo x-bind:score="score" />
  </body>
</html>
