---
import Layout from '@layouts/Layout.astro';

export function getStaticPaths() {
  return [
    { params: { sport: 'baseball', team: 'Cardinals' } },
    { params: { sport: 'football', team: 'Chiefs' } },
    { params: { sport: 'hockey', team: 'Blues' } }
  ];
}

const { sport, team } = Astro.params;
---

<Layout>
  <div>The {team} plays {sport}.</div>
</Layout>