---
interface Props {
  label?: string;
  start?: number;
}

const { label = "", start = 0 } = Astro.props;
---

<div class="row" x-data={`{ count: ${start} }`}>
  {label && <div>{label}</div>}
  <button :disabled="count <= 0" @click="count--">-</button>
  <div x-text="count"></div>
  <button @click="count++">+</button>
</div>

<style>
  button {
    margin: 0;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
