---
interface Props {
  label?: string;
}

const { label = "" } = Astro.props;
---

<div class="row" x-data="{ count: 0 }">
  {label && <div>{label}</div>}
  <button :disabled="count <= 0" @click="count--">-</button>
  <h1 x-text="count"></h1>
  <button @click="count++">+</button>
</div>

<style>
  button,
  h1 {
    margin: 0;
  }

  .row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
