---
import type { CollectionEntry } from "astro:content";
interface Props {
  dog: CollectionEntry<"dogs">;
}

const { dog } = Astro.props;
const { breed, name, website } = dog.data;
const { Content } = await dog.render();
---

<div class="dog my-4">
  <hr class="mb-4" />
  <p class="font-bold mb-4">{name} is a {breed}.</p>
  <Content />
  <!-- <p set:html="{content}" /> -->
  <a href={website}>American Kennel Club</a>
</div>

<style is:global>
  .dog li {
    list-style-type: disc;
    margin-left: 1.2rem;
  }
</style>
