---
import Layout from "../layouts/Layout.astro";
import { categorizeByAge } from "../categorize.ts";

let message = "";
const { request } = Astro;
const { method } = request;

// This handles the redirect in src/pages/api/form-handler.ts.
if (method === "GET") {
  const url = new URL(request.url);
  message = url.searchParams.get("message") || "missing message";
} else if (method === "POST") {
  // This is used when the form action is "/form-handler".
  try {
    const data = await request.formData();
    const name = data.get("name");
    const age = Number(data.get("age"));
    const category = categorizeByAge(age);
    message = `${name} is a ${category}.`;
  } catch (error) {
    message = error instanceof Error ? error.message : "unknown error";
  }
}
---

<Layout>
  <h1>Age Assessment</h1>
  <p>{message}</p>
</Layout>
