---
import Greet from "../components/Greet.astro";
import Layout from "../layouts/Layout.astro";

const colors = ["red", "green", "blue"];
---

<Layout>
  <Greet name="Colors" />

  <ul>
    {colors.map((color) => <li style={`color: ${color}`}>{color}</li>)}
  </ul>
</Layout>
