---
import { Image } from "astro:assets";

// This import doesn't work, but including it
// with a script tag in Layout.astro does work.
// See https://github.com/catdad/canvas-confetti/issues/220.
// @ts-ignore
// import confetti from "canvas-confetti";

import Counter1 from "@components/Counter.astro";
import Counter2 from "@components/Counter.svelte";
import logo1 from "@images/astro-logo.png";
import logo2 from "@images/astro-logo.svg";
import Layout from "@layouts/Layout.astro";

// import dogs from "../data/dogs.json";
/* global confetti */
---

<Layout title="Welcome to Astro">
  <main class="m-4">
    <h1>Welcome to Astro</h1>
    <Image alt="PNG logo" src={logo1} width={300} />
    <Image alt="SVG logo" src={logo2} width={300} />

    <a href="/pets/dogs">Dogs</a>
    <div class="mt-4">
      <button id="my-btn">Press Me</button>
    </div>
    <Counter1 label="Alpine" client:load />
    <Counter2 label="Svelte" client:load />
  </main>
</Layout>

<!-- <script type="module"> -->
<script>
  function handleClick() {
    // @ts-ignore
    confetti({
      particleCount: 100,
      spread: 180,
      origin: { y: 1 },
    });
  }

  const myBtn = document.getElementById("my-btn");
  if (myBtn) myBtn.addEventListener("click", handleClick);
</script>

<style>
  a {
    color: blue;
    text-decoration: underline;
  }

  h1 {
    color: purple;
    font-size: 3rem;
  }
</style>
