---
import Layout from '../layouts/Layout.astro';

const cookie = Astro.cookies.get('score');
let score = cookie?.number() ?? 0;
---

<Layout>
  <div x-data={`{score: ${score}}`} x-effect="ns.setScore(Number(score))">
    <input type="range" min="0" max="10" x-model="score" />
    <span x-text="score"></span>
  </div>
  <a href="/report">Report</a>
</Layout>

<script>
  // @ts-ignore
  globalThis.ns = {
	setScore(score: number) {
	  // Expire in 5 minutes.
	  const ms = 5 * 60 * 1000;
	  const expires = new Date(Date.now() + ms).toUTCString();
	  document.cookie = `score=${score}; expires=${expires}`;
    }
  };
</script>

<style>
  input[type='range'] {
    width: 20rem;
  }
</style>
