---
import Layout from '../layouts/Layout.astro';

// If the output mode is "static", this will output the following warning:
// [WARN] `Astro.request.headers` is not available in "static" output mode.
// To enable header access, enable SSR.
const cookie = Astro.cookies.get('score');
const score = cookie?.number() ?? 0;
---

<Layout>
  <div>score = {score}</div>
  <a href="/">Home</a>
</Layout>