---
import { slide, ViewTransitions } from "astro:transitions";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- This is required even when the transitions are customized. -->
    <ViewTransitions />
    <style>
      html {
        font-family: system-ui, sans-serif;
      }
    </style>

    <style is:global>
      @keyframes spinOut {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      @keyframes spinIn {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <!-- We probably don't want both a slide transition and image morphing. -->
  <!-- <body class="p-4"> -->
  <body class="p-4" transition:animate={slide({ duration: "1s" })}>
    <slot />
  </body>
</html>
