---
import {getCollection, type CollectionEntry} from 'astro:content';
import TeamLarge from '../components/TeamLarge.astro';
import Layout from '../layouts/Layout.astro';

const teams: CollectionEntry<'nfl'>[] = await getCollection('nfl');

export async function getStaticPaths() {
    const teams: CollectionEntry<'nfl'>[] = await getCollection('nfl');
    return teams.map((team) => (
        { params: { name: team.data.name } }
    ));
}

const { name } = Astro.params;
console.log('[team].astro : name =', name);
const team = teams.find((team) => team.data.name === name);
console.log('[team].astro : team =', team);
---

<Layout>
    {team ? <TeamLarge {team} /> : <p>Team {name} not found.</p>}
</Layout>
