---
import {getCollection, type CollectionEntry} from 'astro:content';
import TeamLarge from '../components/TeamLarge.astro';
import Layout from '../layouts/Layout.astro';

const teams: CollectionEntry<'nfl'>[] = await getCollection('nfl');

// This function is not used when "output" is set to "server"
// in astro.config.mjs.
export async function getStaticPaths() {
    // Cannot use the outer teams variable here.
    const teams: CollectionEntry<'nfl'>[] = await getCollection('nfl');
    return teams.map((team) => (
        { params: { name: team.data.name } }
    ));
}

const { name } = Astro.params;
const team = teams.find((team) => team.data.name === name);
if (!team) return new Response('', { status: 404 });
---

<Layout>
  {team ? <TeamLarge {team} /> : <p>Team {name} not found.</p>}
</Layout>
