---
import Layout from '../layouts/Layout.astro';
import TeamSmall from '../components/TeamSmall.astro';
import {getCollection, type CollectionEntry} from 'astro:content';

const teams: CollectionEntry<'nfl'>[] = await getCollection('nfl');
---

<Layout>
  <section class="bg-black gap-4 grid grid-cols-3 p-4">
    {teams.map(team => <TeamSmall {team} />)}
  </section>
</Layout>
