---
interface Props {
  label?: string;
}

const {label = ''} = Astro.props;
---

<div
  class="row"
  x-data
  x-init="ns.subscribeToCount($data)"
  x-effect="setCount(Number(count))"
>
  {label && <div>{label}</div>}
  <button :disabled="count <= 0" @click="setCount(count - 1)">-</button>
  <div x-text="count"></div>
  <button @click="setCount(count + 1)">+</button>
</div>

<script>
  import {count} from '../stores.ts';

  // @ts-ignore
  globalThis.setCount = count.set;
</script>

<style>
  .row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
