---
interface Props {
  label?: string;
}

const {label = ''} = Astro.props;
---

<div
  class="row"
  x-data
  x-init="counterSetup($data)"
  x-effect="setCount(Number(count))"
>
  {label && <div>{label}</div>}
  <button :disabled="count <= 0" @click="count--">-</button>
  <div x-text="count"></div>
  <button @click="count++">+</button>
</div>

<script defer>
  function counterSetup(data) {
    const {count} = stores;
    count.subscribe(value => (data.count = value));
    data.setCount = count.set;
  }
</script>

<style>
  .row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
