---
interface Props {
  label?: string;
}

const {label = ''} = Astro.props;
---

<div
  class="row"
  x-data
  x-init="ns.subscribeToCount($data)"
  x-effect="setCount(Number(count))"
>
  {label && <div>{label}</div>}
  <button :disabled="count <= 0" @click="ns.setCount(count - 1)">-</button>
  <div x-text="count"></div>
  <button @click="ns.setCount(count + 1)">+</button>
</div>

<style>
  .row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
