---
interface Props {
  label?: string;
}

const {label = ''} = Astro.props;
---

<!-- The x-data attribute is not needed here
     if it is present on an ancestor element. -->
<!-- This component doesn't need to import stores.ts because
     both Counter.tsx and Counter.svelte already do it. -->
<div
  class="row"
  x-data
  x-init="setup($data)"
  x-effect="setCount(count)"
>
  {label && <div>{label}</div>}
  <button :disabled="count <= 0" @click="count--">-</button>
  <div x-text="count"></div>
  <button @click="count++">+</button>
</div>

<script defer>
  function setup(data) {
    const {count} = stores;
    count.subscribe(value => (data.count = value));
    data.setCount = count.set;
  }
</script>

<style>
  .row {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
