<div x-data>
  <button @click="fn1">fn1</button>
  <button @click="fn2">fn2</button>
  <button @click="fn3">fn3</button>
  <button @click="ns.fn4">fn4</button>
</div>

<script is:inline>
  console.log('demo.astro: is:inline running');
  function fn1() {
    console.log('in fn1');
  }
</script>

<script defer>
  console.log('demo.astro: defer running');
  function fn2() {
    console.log('in fn2');
  }
</script>

<script is:inline>
  console.log('demo.astro: dynamic import running');
  // if (typeof fn3 === 'undefined') {
    import('/src/my-module.js').then(module => {
      fn3 = module.fn3;
    }).catch(err => {
      console.log('Demo.astro error importing my-module.js:', err);
    })
  // } 
</script>

<script src="./my-script.js"></script>