<div x-data>
  The score is
  <span x-init="initScore($el)"></span>.
</div>

<script>
  import { $score, $status } from "../stores.js";

  /*
  // This declaration can be omitted if @tsignore is used below.
  declare global {
    function init(el: HTMLElement): void;
  }
  */

  // @ts-ignore
  globalThis.initScore = (el: HTMLElement) => {
    $score.subscribe((score) => {
      // There is a timing issue with computed stores being updated!
      const status = $status.get();
      el.innerText = `${score} (${status})`;
    });
    // Adding this second listener fixes the timing issue.
    $status.subscribe((status) => {
      const score = $score.get();
      el.innerText = `${score} (${status})`;
    });
  };
</script>
