<div x-data>
  The score is
  <span x-init="initScore($el)"></span>.
</div>

<script>
  import { $score } from "../stores.js";

  /*
  // This declaration can be omitted if @tsignore is used below.
  declare global {
    function init(el: HTMLElement): void;
  }
  */

  // @ts-ignore
  globalThis.initScore = (el: HTMLElement) => {
    $score.subscribe((value) => (el.innerText = String(value)));
  };
</script>
