<div x-effect="setScore(Number(score))">
  <input type="range" min="0" max="10" x-model="score" />
  <span x-text="score"></span>
</div>

<style>
  input[type='range'] {
    width: 20rem;
  }
</style>
