---
interface Props {
  value: number;
}

const { value } = Astro.props;
---

<div x-data={`{value: ${value}}`} x-effect="updateScore(value)">
  <input type="range" min="0" max="10" x-model="value" />
  <span x-text="value"></span>
</div>

<script>
  import { score } from "../stores.js";

  // @ts-ignore
  globalThis.updateScore = (value) => {
    score.set(value);
  };
</script>

<style>
  input[type="range"] {
    width: 20rem;
  }
</style>
