<button x-data @click="toggleDog">Toggle Dog</button>

<script>
  import { $dog } from "../stores.js";

  // @ts-ignore
  globalThis.toggleDog = () => {
    const { name } = $dog.get();
    $dog.setKey("name", name === "Comet" ? "Oscar" : "Comet");
    $dog.setKey("breed", name === "Comet" ? "GSP" : "Whippet");
  };
</script>
