---
import { Picture } from "astro:assets";
import { Code } from "astro:components";
import { Prism } from "@astrojs/prism";
import Text from "../components/Text.astro";
import myDog from "../images/comet.png";
import Layout from "../layouts/Layout.astro";
import "../styles/prism-gruvbox-dark.css";

const codeString = `
for (const dog of dogs) {
  // do something
}`;

const htmlString = `
  <h2>My Heading</h2>
  <p>My content.</p>
`;
---

<Layout>
  <Text>First</Text>
  <Text fg="white" bg="blue">Second</Text>

  <h1>Builtin Components</h1>

  <Code code={codeString.trim()} lang="js" />
  <Fragment set:html={htmlString} />
  <Prism code={codeString.trim()} lang="js" />
  <Picture alt="my dog" src={myDog} formats={["webp", "avif"]} width={400} />
</Layout>

<style is:global>
  .astro-code {
    padding: 1rem;
  }
</style>
