---
import Layout from '../layouts/Layout.astro';

const data = Astro.locals;
---

<Layout>
  <h1>Home Page</h1>

  <h2>{data.title}</h2>
  <p>Score = {data.score}</p>

  <a href="/public">Public</a>
  <a href="/secret">Secret</a>
</Layout>
