---
import Layout from "../layouts/Layout.astro";
import RenderScore from "../components/RenderScore.astro";
import SelectScore from "../components/SelectScore.astro";
---

<Layout>
  <h1>nanostores Demo</h1>

  <RenderScore />
  <SelectScore initialValue={3} client:load />
  <RenderScore />
</Layout>
