---
import Layout from '../layouts/Layout.astro';
import RenderDog from '../components/RenderDog.astro';
import SelectScore from '../components/SelectScore.astro';
---

<Layout>
  <h1>nanostores Demo</h1>

  <main x-data>
    <SelectScore initialValue={3} />
    <div x-init="subscribeToScore($data)">
      The score is <span x-text="score"></span>.
    </div>
    <RenderDog />
    <button @click="toggleDog">Toggle Dog</button>
  </main>

  <!-- TODO: Try doing the same things with Svelte and React components. -->
</Layout>
