---
import Layout from "../layouts/Layout.astro";
import RenderDog from "../components/RenderDog.astro";
import RenderScore from "../components/RenderScore.astro";
import SelectScore from "../components/SelectScore.astro";
import ToggleDog from "../components/ToggleDog.astro";
---

<Layout>
  <h1>nanostores Demo</h1>

  <RenderScore />
  <SelectScore initialValue={3} client:load />
  <RenderScore />
  <RenderDog />
  <ToggleDog />
</Layout>
