---
import Layout from '../layouts/Layout.astro';
import RenderDog from '../components/RenderDog.astro';
import RenderScore from '../components/RenderScore.astro';
import SelectScore from '../components/SelectScore.astro';
import Counter1 from '../components/Counter.tsx';
import Counter2 from '../components/Counter.svelte';
import Counter3 from '../components/Counter.astro';
---

<Layout>
  <h1>nanostores Demo</h1>

  <main x-data>
    <Counter1 label="React" client:load />
    <Counter2 label="Svelte" client:load />
    <!-- <Counter3 label="Astro" /> -->

    <SelectScore initialValue={3} />
    <RenderScore />

    <RenderDog />
    <button @click="ns.toggleDog">Toggle Dog</button>
  </main>
</Layout>
